.app {
  height: 100vh;

  .sections {
    width: 100%;

    // position below the navigation bar
    height: calc(100vh - 70px);
    // background-color: lightsalmon;
    position: relative;
    top: 70px;

    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }
    // scroll-snap-type: proximity;
    // scroll-snap-points-y: repeat(calc(100vh - 70px));
  }
}
