$mainColor: #15023a;
$transitionTime: 1s;

//page colors

$homeBgColor: white; //lightpink
$aboutBgColor: lightgrey;
$portfolioBgColor: lightcyan;
$experienceBgColor: lightgreen;
$skillsBgColor: lightcoral;
$contactBgColor: lightblue;

:export {
  homeBgColor: white;
  aboutBgColor: lightgrey;
  portfolioBgColor: lightcyan;
  experienceBgColor: lightgreen;
  skillsBgColor: lightcoral;
  contactBgColor: lightblue;
}
