body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
  /* scroll-snap-type: y mandatory; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
